<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footerIcons">
                    <a href="#" class="footerLogo">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="176"
                            height="45" viewBox="0 0 176 45">
                            <defs>
                                <path id="prefix__a" d="M0 0.048L22.473 0.048 22.473 26.622 0 26.622z" />
                                <path id="prefix__c" d="M0.046 0.365L9.909 0.365 9.909 27.286 0.046 27.286z" />
                                <path id="prefix__e" d="M0.301 0.192L3.478 0.192 3.478 9.762 0.301 9.762z" />
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <g transform="translate(0 5.838)">
                                    <mask id="prefix__b" fill="#fff">
                                        <use xlink:href="#prefix__a" />
                                    </mask>
                                    <path fill="#040201"
                                        d="M17.058 16.99v-.58c0-4.178-1.857-6.344-4.72-6.344-2.784 0-4.68 2.128-4.68 6.344v.58c0 4.177 1.935 6.343 4.68 6.343 2.863 0 4.72-2.166 4.72-6.343M6.614 21.748l-1.43 4.37h-2.94c.115-.773.193-2.436.193-6.42V4.496c0-.928-.155-1.16-.658-1.16H0V.434h3.096C4.99.435 6.808.24 7.659.048V10.84c1.16-2.553 3.365-4.062 6.575-4.062 5.068 0 8.24 3.907 8.24 9.903 0 5.995-3.327 9.94-8.472 9.94-3.752 0-6.305-1.856-7.388-4.873"
                                        mask="url(#prefix__b)" />
                                </g>
                                <path fill="#040201"
                                    d="M30.75 16.871c.89-3.017 2.862-4.255 5.106-4.255 2.785 0 4.525 1.78 4.525 4.565 0 2.437-1.47 4.061-3.674 4.061-1.432 0-2.63-1.16-2.63-2.553 0-1.044.695-2.127 1.856-2.475-.27-.232-.696-.387-1.276-.387-2.553 0-3.868 2.36-3.868 6.305v5.918c0 .89.232 1.006.657 1.006h1.818v2.9H23.207v-2.9h1.702c.426 0 .658-.116.658-1.006V17.18c0-.927-.155-1.16-.658-1.16h-1.818v-2.9h3.133c1.895 0 3.636-.194 4.526-.388v4.14zM46.917 20.894h8.51c-.077-3.83-1.238-5.3-3.984-5.3s-4.293 1.587-4.526 5.3zm.078 2.63c.116 3.52 1.856 5.841 5.376 5.841 2.67 0 4.216-1.354 5.106-3.636l2.94 1.316c-1.045 3.017-3.598 5.415-8.472 5.415-6.846 0-10.289-4.14-10.289-9.941 0-5.88 3.985-9.903 9.787-9.903 5.957 0 9.244 3.714 9.244 9.941v.967H46.995zM70.28 16.485c1.198-2.592 3.364-3.868 6.381-3.868 3.985 0 6.112 2.32 6.112 7.04v8.393c0 .89.232 1.006.657 1.006h1.702v2.9h-9.747v-2.9h1.509c.425 0 .657-.116.657-1.006v-8.278c0-2.63-.967-3.752-3.094-3.752-2.592 0-4.1 1.934-4.1 6.15v5.88c0 .89.232 1.006.657 1.006h1.509v2.9h-9.748v-2.9h1.702c.426 0 .657-.116.657-1.006V17.18c0-.928-.154-1.16-.657-1.16h-1.702v-2.9h3.017c1.896 0 3.636-.194 4.487-.387v3.752zM100.14 22.828v-.58c0-4.178-1.934-6.344-4.68-6.344-2.863 0-4.719 2.166-4.719 6.344v.58c0 4.178 1.856 6.344 4.719 6.344 2.785 0 4.68-2.127 4.68-6.344m-14.815-.31c0-5.956 3.405-9.902 8.432-9.902 3.173 0 5.3 1.354 6.383 3.79v-6.072c0-.928-.155-1.16-.657-1.16h-1.818V6.273h3.21c1.895 0 3.636-.194 4.487-.387V28.05c0 .89.232 1.006.657 1.006h1.625v2.901h-6.924c-.077-.464-.193-2.128-.27-3.675-1.084 2.592-3.25 4.178-6.654 4.178-5.144 0-8.47-3.946-8.47-9.941M109.306 13.12h2.552v-1.354c0-4.565 1.741-6.228 5.957-6.228 1.508 0 2.786.387 3.288.696v2.824c-.31-.194-1.083-.348-1.624-.348-2.05 0-2.708.735-2.553 3.79v.62h3.442v2.9h-3.365v12.03c0 .89.232 1.006.658 1.006h2.01v2.9H109.5v-2.9h1.702c.425 0 .657-.116.657-1.006V16.02h-2.552v-2.9zM135.607 22.79v-.503c0-4.526-1.509-6.576-4.758-6.576-3.288 0-4.796 2.05-4.796 6.576v.502c0 4.526 1.47 6.576 4.758 6.576 3.287 0 4.796-2.088 4.796-6.576m-14.814-.27c0-5.88 4.06-9.903 10.134-9.903 5.918 0 9.902 3.985 9.902 9.903 0 5.918-4.023 9.94-10.057 9.94-5.996 0-9.98-3.983-9.98-9.94M149.685 16.485c1.2-2.592 3.366-3.868 6.383-3.868 3.984 0 6.111 2.32 6.111 7.04v8.393c0 .89.233 1.006.658 1.006h1.702v2.9h-9.747v-2.9h1.508c.426 0 .658-.116.658-1.006v-8.278c0-2.63-.968-3.752-3.095-3.752-2.592 0-4.1 1.934-4.1 6.15v5.88c0 .89.232 1.006.658 1.006h1.508v2.9h-9.747v-2.9h1.702c.425 0 .657-.116.657-1.006V17.18c0-.928-.155-1.16-.657-1.16h-1.702v-2.9h3.017c1.895 0 3.636-.194 4.486-.387v3.752z" />
                                <g transform="translate(165.807 4.67)">
                                    <mask id="prefix__d" fill="#fff">
                                        <use xlink:href="#prefix__c" />
                                    </mask>
                                    <path fill="#040201"
                                        d="M1.748 3.536c0-1.74 1.276-3.171 3.25-3.171 1.895 0 3.248 1.43 3.248 3.171 0 1.74-1.353 3.172-3.249 3.172-1.973 0-3.249-1.431-3.249-3.172zM.046 24.386h1.741c.425 0 .619-.194.619-1.007V12.897c0-1.2-.194-1.547-.852-1.547H.046V8.449h3.095c1.895 0 3.635-.193 4.525-.387v15.317c0 .813.193 1.006.62 1.006H9.91v2.901H.046v-2.9z"
                                        mask="url(#prefix__d)" />
                                </g>
                                <path fill="#040201"
                                    d="M135.587 38.976c-.222-.444-.71-.681-1.539-.681-1.332 0-2.056.858-2.056 2.47v.237c0 1.657.65 2.56 1.982 2.56 1.05 0 1.686-.444 2.042-1.406l1.11.518c-.444 1.198-1.376 2.086-3.226 2.086-2.544 0-3.935-1.406-3.935-3.817 0-2.352 1.48-3.773 3.965-3.773 2.071 0 3.313.962 3.313 2.456 0 .977-.606 1.598-1.45 1.598-.68 0-1.168-.473-1.168-1.095 0-.591.37-1.035.962-1.153M143.562 41.062v-.193c0-1.73-.577-2.515-1.82-2.515-1.257 0-1.834.784-1.834 2.515v.193c0 1.73.562 2.514 1.82 2.514 1.257 0 1.834-.799 1.834-2.514m-5.666-.104c0-2.249 1.554-3.787 3.876-3.787 2.264 0 3.787 1.523 3.787 3.787 0 2.263-1.538 3.802-3.847 3.802-2.292 0-3.816-1.524-3.816-3.802M146.375 43.458h.65c.163 0 .252-.044.252-.384v-4.158c0-.355-.06-.444-.251-.444h-.651v-1.109h1.154c.724 0 1.39-.074 1.715-.148v1.42c.445-.947 1.154-1.464 2.249-1.464 1.154 0 1.894.532 2.145 1.641.385-1.064 1.154-1.641 2.368-1.641 1.568 0 2.381.872 2.381 2.81v3.093c0 .34.09.384.252.384h.65v1.11h-3.698v-1.11h.548c.162 0 .251-.044.251-.384V40.1c0-1.11-.37-1.598-1.184-1.598-.917 0-1.375.725-1.375 2.1v2.472c0 .34.089.384.251.384h.621v1.11h-3.668v-1.11h.547c.163 0 .252-.044.252-.384v-3.108c0-.976-.415-1.464-1.184-1.464-.917 0-1.376.725-1.376 2.1v2.472c0 .34.09.384.252.384h.577v1.11h-3.728v-1.11zM160.12 43.576c0-.68.489-1.168 1.214-1.168.71 0 1.213.488 1.213 1.168 0 .696-.503 1.184-1.213 1.184-.725 0-1.213-.488-1.213-1.184M164.278 42.511v-4.039h-.976v-.99l.562-.045c.503-.09.828-.281.888-.814l.147-1.302h1.376v2.042h1.435v1.11h-1.479v4.009c0 .784.281 1.05.918 1.05.31 0 .502-.059.68-.118v1.139c-.282.089-.77.192-1.287.192-1.628 0-2.264-.621-2.264-2.234M171.542 38.798c.341-1.154 1.096-1.628 1.953-1.628 1.065 0 1.731.68 1.731 1.746 0 .932-.562 1.554-1.405 1.554-.548 0-1.006-.444-1.006-.977 0-.399.266-.814.71-.947-.103-.088-.266-.147-.488-.147-.976 0-1.48.902-1.48 2.411v2.263c0 .34.09.385.252.385h.695v1.11h-3.846v-1.11h.651c.163 0 .251-.044.251-.385v-4.157c0-.354-.059-.444-.25-.444h-.696v-1.11h1.198c.725 0 1.39-.073 1.73-.147v1.583z" />
                                <path fill="#0E86C8"
                                    d="M142.32 10.146c-1.311 1.78-2.946 2.8-3.651 2.28-.705-.52-.214-2.384 1.097-4.162 1.311-1.78 2.946-2.8 3.651-2.28.706.52.215 2.383-1.097 4.162" />
                                <path fill="#00B4A3"
                                    d="M134.957 10.446c-.835-.266-.86-2.523-.058-5.041.803-2.518 2.13-4.344 2.965-4.078s.861 2.523.058 5.042c-.803 2.518-2.13 4.344-2.965 4.077z" />
                                <g transform="translate(128.831)">
                                    <mask id="prefix__f" fill="#fff">
                                        <use xlink:href="#prefix__e" />
                                    </mask>
                                    <path fill="#F9A21A"
                                        d="M3.475 4.949c.048 2.642-.624 4.797-1.5 4.813C1.1 9.778.35 7.65.303 5.006.255 2.363.927.208 1.803.192 2.679.176 3.428 2.306 3.475 4.95"
                                        mask="url(#prefix__f)" />
                                </g>
                                <path fill="#E75524"
                                    d="M126.926 6.504c.676 1.881.554 3.646-.27 3.941-.825.297-2.04-.988-2.716-2.87-.675-1.88-.554-3.645.27-3.94.826-.297 2.041.988 2.716 2.869" />
                            </g>
                        </svg>
                    </a>
                    <div class="sosMedia">
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="21" viewBox="0 0 11 21">
                                <path fill="#C5C5C5"
                                    d="M9.818.004L7.375 0C4.63 0 2.856 1.989 2.856 5.067v2.337H.399c-.212 0-.384.188-.384.42v3.385c0 .232.172.42.384.42h2.457v8.541c0 .232.172.42.384.42h3.205c.213 0 .385-.188.385-.42v-8.542h2.872c.212 0 .384-.187.384-.42l.001-3.384c0-.112-.04-.218-.112-.297-.072-.08-.17-.123-.272-.123H6.83V5.423c0-.952.207-1.435 1.342-1.435h1.646c.212 0 .384-.189.384-.42V.423c0-.231-.172-.42-.384-.42z"
                                    opacity=".9" />
                            </svg>
                        </a>
                        <a href="#">
                       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="22" viewBox="0 0 20 22">
                                    <defs>
                                        <filter id="prefix__a" width="265.9%" height="265.9%" x="-82.9%" y="-63.4%" filterUnits="objectBoundingBox">
                                            <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                            <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2.5"></feGaussianBlur>
                                            <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"></feColorMatrix>
                                        </filter>
                                        <path id="prefix__b" d="M9.945 4.82c-2.826 0-5.125 2.3-5.125 5.125 0 2.826 2.299 5.125 5.125 5.125s5.125-2.3 5.125-5.125c0-2.826-2.3-5.125-5.125-5.125zm0 8.485c-1.853 0-3.36-1.507-3.36-3.36s1.507-3.36 3.36-3.36 3.36 1.507 3.36 3.36-1.507 3.36-3.36 3.36z"></path>
                                    </defs>
                                    <g fill="none" opacity=".9">
                                        <path fill="#B4B4B4" d="M14.4 0H5.49C2.462 0 0 2.462 0 5.489V14.4c0 3.026 2.462 5.489 5.489 5.489H14.4c3.026 0 5.489-2.463 5.489-5.49V5.49C19.89 2.462 17.427 0 14.4 0zm0 18.125H5.49c-2.054 0-3.724-1.67-3.724-3.724V5.489c0-2.054 1.67-3.724 3.724-3.724H14.4c2.053 0 3.724 1.67 3.724 3.724V14.4c0 2.053-1.67 3.724-3.724 3.724z"></path>
                                        <use fill="#000" filter="url(#prefix__a)" xlink:href="#prefix__b"></use>
                                        <use fill="#B4B4B4" xlink:href="#prefix__b"></use>
                                        <path fill="#B4B4B4" d="M15.285 3.324c-.34 0-.674.137-.914.378-.242.24-.38.575-.38.916 0 .34.139.674.38.915.24.24.574.379.914.379.341 0 .674-.139.915-.379.241-.241.379-.575.379-.915 0-.341-.138-.676-.379-.916-.24-.24-.574-.378-.915-.378z"></path>
                                    </g>
                                </svg>
                        </a>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17">
                                <g fill="#A2A2A2">
                                    <path
                                        d="M13.783 7.715L9.051 5.278c-.272-.14-.594-.135-.86.014-.267.149-.426.412-.426.704v4.832c0 .29.158.553.423.702.138.078.292.117.446.117.14 0 .282-.033.412-.099l4.732-2.395c.28-.142.456-.417.457-.717.001-.3-.172-.577-.452-.72zM9.02 10.22V6.61l3.537 1.821-3.537 1.79z" />
                                    <path
                                        d="M21.838 3.97l-.001-.01c-.019-.178-.204-1.769-.97-2.577C19.982.43 18.98.316 18.497.26l-.11-.013-.038-.004C15.44.029 11.048 0 11.004 0h-.008c-.044 0-4.436.03-7.37.243l-.04.004-.103.013c-.477.055-1.47.17-2.357 1.157-.73.8-.94 2.356-.962 2.531l-.002.023C.155 4.045 0 5.816 0 7.594v1.662c0 1.778.155 3.55.162 3.624l.001.011c.019.176.204 1.737.966 2.546.832.92 1.884 1.041 2.45 1.107.09.01.167.019.22.028l.05.007c1.68.162 6.945.241 7.168.244H11.03c.044 0 4.437-.029 7.345-.242l.038-.005.124-.014c.474-.05 1.461-.156 2.337-1.128.729-.8.94-2.357.962-2.532l.002-.022c.007-.075.162-1.846.162-3.624V7.594c0-1.778-.155-3.549-.162-3.623zm-1.127 5.286c0 1.646-.143 3.34-.156 3.496-.055.429-.277 1.413-.633 1.803-.547.609-1.11.67-1.521.713-.05.005-.096.01-.137.016-2.813.205-7.04.237-7.235.238-.218-.003-5.406-.084-7.034-.236-.084-.014-.174-.025-.269-.035-.482-.056-1.141-.132-1.649-.696l-.011-.013c-.35-.367-.566-1.288-.62-1.785-.01-.117-.157-1.832-.157-3.5V7.593c0-1.644.142-3.337.156-3.495.065-.505.292-1.43.632-1.804.565-.627 1.16-.696 1.554-.742l.105-.013c2.854-.207 7.111-.237 7.264-.238.153 0 4.408.031 7.237.238l.113.013c.405.047 1.017.118 1.58.723l.004.005c.35.367.565 1.304.62 1.811.01.111.157 1.83.157 3.502v1.662z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="mobApps">
                        <h4>Mobil uygulamalar</h4>
                        <img src="/src/static/assets/apps.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="about">
                    <h5>Hakkımızda</h5>
                    <ul>
                        <li><a href="#">Biz kimiz</a></li>
                        <li><a href="#">Kariyer</a></li>
                        <li><a href="#">Bize ulaşın</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="about">
                    <h5>Kampanyalar</h5>
                    <ul>
                        <li><a href="#">Aktif kampanyalar</a></li>
                        <li><a href="#">Gelecek kampanyalar</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="about">
                    <h5>Yardım</h5>
                    <ul>
                        <li><a href="#">Sıkça sorulan sorular</a></li>
                        <li><a href="#">Canlı yardım</a></li>
                        <li><a href="#">Nasıl iade ederim</a></li>
                        <li><a href="#">Nasıl sipariş verilir</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact-footer">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <ul class="footerLast">
                    <li> <a href="#"> 2020 Satış Tic.A.Ş.–Her hakkı saklıdır.</a></li>
                    <li><a href="#"> Kullanım koşulları</a> </li>
                    <li><a href="#"> Gizlilik politikası</a></li>
                </ul>
            </div>
            <div class="col-6">
                <div class="visa">
                    <a href="#" class="imgs">
                        <img src="/src/static/assets/mastercard.png" alt="">
                        <img src="/src/static/assets/visa.png" alt="">
                        <img src="/src/static/assets/maestro.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>