<section id="header">
  <div class="container">
    <div class="header-contact">
      <a href="">Sipariş Takibi</a>
      <a href="">Yardım ve destek</a>
    </div>
  </div>
</section>

{{!-- search header --}}
<section id="header-search">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3">
        <a href="#" class="logo">
          <img src="../assets/group-4-copy.svg" alt="">
        </a>
      </div>
      <div class="col-lg-5">
        <div class="search-form">
          <form action="">
            <input type="search" placeholder="Markalar, kategoriler ve ürünlürde ara">
            <button type="submit">
              <img src="../assets/shape.svg" alt="">
            </button>
          </form>
          <div class="search-result">
            <ul>
              <li>
                <h5>Sonuçlar</h5>
              </li>
              <li><a href="">Havlu<span>Kategori</span></a></li>
              <li><a href=""> Mutfak havlusu <span>Kategori</span> </a> </li>
              <li><a href="">Kağıt havlu<span></span></a> </li>
              <li><a href="">Plaj havlusu<span></span> </a> </li>
              <li><a href="">Fiesta havlus<span></span></a> </li>
              <li><a href="">Madame Coco havlus<span>Marka</span></a> </li>
              <li><a href="">Bambu havlu <span>Marka</span></a> </li>
              <li><a href="">English Home havlu <span></span></a> </li>
              <li><a href="">Özdilek havlu<span></span> </a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="user-header">
          <div class="user-profil">
            <a href="" class="profil-icons">
              <div class="icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 21 24">
                  <g>
                    <path
                      d="M10.396 11.86c-3.27 0-5.93-2.66-5.93-5.93 0-3.27 2.66-5.93 5.93-5.93 3.27 0 5.93 2.66 5.93 5.93 0 3.27-2.66 5.93-5.93 5.93zm0-10.378c-2.452 0-4.447 1.995-4.447 4.448 0 2.452 1.995 4.447 4.447 4.447s4.447-1.995 4.447-4.447c0-2.453-1.995-4.448-4.447-4.448zM20.032 23.718H.76c-.41 0-.74-.331-.74-.74v-5.103c0-.766.39-1.485 1.02-1.88 5.567-3.471 13.15-3.47 18.71 0 .631.395 1.023 1.114 1.023 1.88v5.102c0 .41-.332.741-.741.741zm-18.53-1.482H19.29v-4.361c0-.258-.124-.497-.325-.622-5.089-3.177-12.046-3.18-17.14 0-.199.125-.323.364-.323.622v4.361z" />
                  </g>
                </svg>

              </div>
              <span>Hesabım</span>
            </a>
            <div class="user-register active">
              <div class="user-info">
                <button type="button" class="white-btn"> Giriş yap </button>
                <button type="button" class="blue-btn"> Üye ol </button>
              </div>
            </div>
            <div class="user-unregister">
              <div class="user-info">
                <h5>Ayten Zalova </h5>
                <ul>
                  <li><a href="">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16">
                          <g fill="none">
                            <path fill="#2B2B2B"
                              d="M14.867 3.53L7.602.023c-.065-.03-.14-.03-.204 0L.133 3.53c-.08.04-.132.121-.132.211v8.518c0 .09.051.172.132.21l7.265 3.508c.032.015.067.023.102.023.035 0 .07-.008.102-.023l7.265-3.507c.08-.04.132-.122.132-.211V3.74c0-.09-.052-.172-.132-.21zM7.5.495l6.726 3.246-1.95.942c-.012-.01-.025-.018-.04-.025l-6.68-3.225L7.5.495zM5.027 1.698l6.716 3.242-1.376.664-6.713-3.24 1.373-.666zM11.9 5.385v2.454l-1.285.62V6.005l1.285-.62zm2.63 6.726l-6.796 3.281V7.396l1.621-.783c.117-.056.166-.196.11-.313-.057-.116-.197-.165-.313-.11L7.5 6.989l-.65-.314c-.116-.056-.257-.007-.313.11-.056.116-.007.256.11.313l.619.299v7.996L.47 12.112V4.114l5.175 2.498c.033.016.067.023.101.023.088 0 .171-.048.212-.132.056-.117.007-.257-.11-.313L.775 3.741l2.329-1.124 7.04 3.4.003.003v2.813c0 .08.042.155.11.198.038.024.081.036.125.036.035 0 .07-.008.102-.023l1.753-.847c.081-.039.133-.12.133-.21V5.157l2.161-1.043v7.996z">
                            </path>
                            <path fill="#303030"
                              d="M2.404 11.202l-1.066-.514c-.117-.057-.257-.008-.313.109-.056.117-.008.257.109.313l1.066.515c.033.015.068.023.102.023.087 0 .17-.049.211-.133.056-.116.008-.256-.11-.313zM3.385 10.564L1.34 9.576c-.116-.056-.256-.007-.313.11-.056.116-.007.256.11.312l2.045.988c.033.016.068.023.102.023.087 0 .17-.048.211-.132.057-.117.008-.257-.109-.313z">
                            </path>
                          </g>
                        </svg>
                      </div>
                      <p>Siparişlerim</p>
                    </a></li>
                  <li><a href="">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                          <path
                            d="M9.51.078c.071-.072.177-.096.272-.064l4.36 1.453L15.494.116c.104-.101.27-.1.373.003.102.103.104.269.003.373l-1.351 1.351 1.453 4.36c.032.096.007.201-.064.273l-9.409 9.408c-.104.104-.272.104-.376 0L.1 9.863c-.104-.104-.104-.273 0-.377L9.51.078zM6.311 15.32l9.105-9.104-1.318-3.952-1.031 1.032c.376.57.26 1.332-.269 1.764-.529.432-1.3.393-1.782-.09-.483-.483-.522-1.253-.09-1.782.432-.53 1.194-.645 1.764-.268l1.032-1.032L9.77.57.666 9.674 6.31 15.32zm5.833-11.102c-.104.1-.27.099-.373-.004-.102-.102-.104-.268-.003-.373l.53-.53c-.304-.148-.668-.086-.907.154-.29.286-.32.746-.066 1.067.253.32.707.4 1.054.182.346-.217.473-.66.296-1.027l-.53.53z" />
                        </svg>

                      </div>
                      <p>İndirim kuponlarım </p>
                    </a></li>
                  <li><a href="">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
                          <g fill="#515151">
                            <path
                              d="M6.436 7.341c-2.024 0-3.671-1.646-3.671-3.67S4.412 0 6.435 0c2.025 0 3.671 1.647 3.671 3.67 0 2.025-1.646 3.671-3.67 3.671zm0-6.423c-1.518 0-2.753 1.235-2.753 2.753s1.234 2.753 2.753 2.753c1.518 0 2.753-1.235 2.753-2.753S7.954.918 6.436.918zM12.4 14.683H.47c-.253 0-.458-.205-.458-.459v-3.159c0-.474.242-.919.632-1.163 3.446-2.15 8.14-2.149 11.583 0 .39.244.632.69.632 1.163v3.159c0 .254-.205.459-.458.459zM.93 13.765h11.012v-2.7c0-.16-.077-.307-.201-.385-3.151-1.967-7.458-1.968-10.61 0-.124.078-.201.226-.201.386v2.7z" />
                          </g>
                        </svg>

                      </div>
                      <p>Kullanıcı bilgilerim</p>
                    </a></li>
                  <li><a href="">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16">
                          <g fill="none">
                            <path fill="#2B2B2B"
                              d="M14.867 3.53L7.602.023c-.065-.03-.14-.03-.204 0L.133 3.53c-.08.04-.132.121-.132.211v8.518c0 .09.051.172.132.21l7.265 3.508c.032.015.067.023.102.023.035 0 .07-.008.102-.023l7.265-3.507c.08-.04.132-.122.132-.211V3.74c0-.09-.052-.172-.132-.21zM7.5.495l6.726 3.246-1.95.942c-.012-.01-.025-.018-.04-.025l-6.68-3.225L7.5.495zM5.027 1.698l6.716 3.242-1.376.664-6.713-3.24 1.373-.666zM11.9 5.385v2.454l-1.285.62V6.005l1.285-.62zm2.63 6.726l-6.796 3.281V7.396l1.621-.783c.117-.056.166-.196.11-.313-.057-.116-.197-.165-.313-.11L7.5 6.989l-.65-.314c-.116-.056-.257-.007-.313.11-.056.116-.007.256.11.313l.619.299v7.996L.47 12.112V4.114l5.175 2.498c.033.016.067.023.101.023.088 0 .171-.048.212-.132.056-.117.007-.257-.11-.313L.775 3.741l2.329-1.124 7.04 3.4.003.003v2.813c0 .08.042.155.11.198.038.024.081.036.125.036.035 0 .07-.008.102-.023l1.753-.847c.081-.039.133-.12.133-.21V5.157l2.161-1.043v7.996z">
                            </path>
                            <path fill="#303030"
                              d="M2.404 11.202l-1.066-.514c-.117-.057-.257-.008-.313.109-.056.117-.008.257.109.313l1.066.515c.033.015.068.023.102.023.087 0 .17-.049.211-.133.056-.116.008-.256-.11-.313zM3.385 10.564L1.34 9.576c-.116-.056-.256-.007-.313.11-.056.116-.007.256.11.312l2.045.988c.033.016.068.023.102.023.087 0 .17-.048.211-.132.057-.117.008-.257-.109-.313z">
                            </path>
                          </g>
                        </svg>
                      </div>
                      <p>Adres bilgilerim</p>
                    </a></li>
                  <li><a href="">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13">
                          <g>
                            <path
                              d="M7.984 8.484h3.993c.15 0 .25-.1.25-.25V5.99c0-.15-.1-.25-.25-.25H7.984c-.15 0-.25.1-.25.25v2.245c0 .15.1.25.25.25zm.25-2.246h3.493v1.747H8.234V6.238z" />
                            <path
                              d="M14.746 2.645c-.174-.224-.399-.35-.673-.374l-.6-.073v-1.2c0-.548-.448-.998-.997-.998H.998C.449 0 0 .45 0 .998V8.983c0 .45.303.834.715.957-.013.504.37.942.882.99l11.527 1.297h.1c.5 0 .948-.375.998-.849l.749-8.01c.025-.249-.05-.523-.225-.723zM.5 1.747h12.476V3.244H.499V1.747zM.998.499h11.478c.274 0 .499.225.499.5v.249H.499v-.25C.499.724.724.5.998.5zM.499 8.983v-5.24h12.476v5.24c0 .274-.225.499-.5.499H.999c-.274 0-.499-.225-.499-.5zm13.973-5.714l-.749 8.01c-.025.274-.274.473-.549.448L1.672 10.43c-.25-.025-.424-.225-.45-.45h11.254c.549 0 .998-.448.998-.997V2.67l.574.05c.124 0 .249.075.324.175.075.1.125.25.1.374z" />
                          </g>
                        </svg>

                      </div>
                      <p>Kayıtlı kartlarım</p>
                    </a></li>
                  <li><a href="">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                          <g>
                            <path
                              d="M7.5 2.5c-.69 0-1.25.56-1.25 1.25S6.81 5 7.5 5s1.25-.56 1.25-1.25S8.19 2.5 7.5 2.5zm0 1.875c-.345 0-.625-.28-.625-.625s.28-.625.625-.625.625.28.625.625-.28.625-.625.625zM8.438 5.625h-2.5c-.173 0-.313.14-.313.313v1.25c0 .172.14.312.313.312h.312v4.688c0 .172.14.312.313.312h1.875c.172 0 .312-.14.312-.312v-6.25c0-.173-.14-.313-.313-.313zm-.313 6.25h-1.25V7.187c0-.172-.14-.312-.313-.312H6.25V6.25h1.875v5.625z" />
                            <path
                              d="M7.5 0C3.365 0 0 3.365 0 7.5S3.365 15 7.5 15 15 11.635 15 7.5 11.635 0 7.5 0zm0 14.375C3.71 14.375.625 11.291.625 7.5.625 3.71 3.709.625 7.5.625c3.79 0 6.875 3.084 6.875 6.875 0 3.79-3.084 6.875-6.875 6.875z" />
                          </g>
                        </svg>
                      </div>
                      <p>Yardım</p>
                    </a></li>
                  <li><a href="">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                          <g fill="#434343">
                            <path
                              d="M5.98 10.983H1.495c-.275 0-.498-.223-.498-.498v-8.97c0-.275.223-.498.498-.498H5.98c.276 0 .498-.223.498-.499 0-.275-.222-.498-.498-.498H1.495C.671.02 0 .69 0 1.515v8.97c0 .824.67 1.495 1.495 1.495H5.98c.276 0 .498-.223.498-.498 0-.276-.222-.499-.498-.499z" />
                            <path
                              d="M11.851 5.645l-3.03-2.99c-.195-.193-.51-.19-.704.005-.193.196-.191.511.005.705l2.165 2.137H4.485c-.276 0-.498.222-.498.498s.222.498.498.498h5.802L8.122 8.635c-.196.194-.198.509-.005.705.098.099.226.148.355.148.126 0 .253-.047.35-.143l3.03-2.99C11.945 6.26 12 6.133 12 6c0-.134-.053-.26-.149-.355z" />
                          </g>
                        </svg>

                      </div>
                      <p>Çıkış yap</p>
                    </a></li>
                </ul>
              </div>
            </div>
          </div>
          <a href="" class="profil-icons">
            <div class="icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                <path
                  d="M22.048 1.983C20.792.727 19.128.041 17.354.041s-3.442.691-4.698 1.947L12 2.644l-.666-.666C10.078.722 8.405.025 6.63.025c-1.77 0-3.438.692-4.689 1.943C.686 3.224-.005 4.892 0 6.666c0 1.775.697 3.437 1.953 4.693l9.549 9.55c.132.132.31.203.483.203s.35-.066.483-.198l9.57-9.534c1.255-1.256 1.947-2.924 1.947-4.699.005-1.774-.682-3.442-1.937-4.698zm-.977 8.426l-9.086 9.05-9.066-9.066c-.997-.996-1.546-2.318-1.546-3.727 0-1.408.544-2.73 1.54-3.722.992-.991 2.314-1.54 3.718-1.54 1.408 0 2.735.549 3.732 1.545l1.149 1.15c.27.269.702.269.971 0l1.14-1.14c.996-.996 2.323-1.545 3.726-1.545 1.404 0 2.726.549 3.722 1.54.997.997 1.541 2.319 1.541 3.727.005 1.409-.544 2.73-1.54 3.728z" />
              </svg>
            </div>
            <span>Favorilerim</span>
          </a>
          <div class="user-basket">
            <a href="" class="profil-icons">
              <div class="icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 25 22">
                  <g>
                    <path
                      d="M7.99 14.531h13.177c.324 0 .61-.215.699-.527l2.906-10.172c.063-.219.019-.455-.118-.637-.138-.182-.353-.289-.58-.289H6.313L5.796.57C5.721.237 5.427 0 5.085 0H.728C.325 0 0 .325 0 .727c0 .4.325.726.727.726h3.776l2.623 11.805c-.772.336-1.314 1.105-1.314 2 0 1.202.978 2.18 2.18 2.18h13.175c.401 0 .727-.326.727-.727 0-.401-.326-.727-.727-.727H7.992c-.4 0-.726-.326-.726-.726 0-.4.324-.726.724-.727zM23.11 4.36l-2.491 8.72H8.575l-1.938-8.72H23.11z" />
                    <path
                      d="M7.266 19.617c0 1.202.977 2.18 2.18 2.18 1.201 0 2.179-.978 2.179-2.18 0-1.202-.978-2.18-2.18-2.18-1.202 0-2.18.978-2.18 2.18zm2.18-.726c.4 0 .726.326.726.726 0 .4-.326.727-.727.727-.4 0-.726-.326-.726-.727 0-.4.326-.726.726-.726zM17.534 19.617c0 1.202.978 2.18 2.18 2.18 1.202 0 2.18-.978 2.18-2.18 0-1.202-.978-2.18-2.18-2.18-1.202 0-2.18.978-2.18 2.18zm2.18-.726c.4 0 .727.326.727.726 0 .4-.326.727-.727.727-.4 0-.726-.326-.726-.727 0-.4.326-.726.726-.726z" />
                  </g>
                </svg>
              </div>
              <span>Sepetim</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>