<div class="owl-carousel">
    <div class="item1">
        <div class="carousel-img">
            <img src="/src/static/assets/bot.jpg" alt="">
        </div>
        <div class="item-name">
            <p>Elle - Bot</p>
        </div>

    </div>
</div>