<section id="content">
    <div class="container">
        <div class="content-result">
            <div class="content-header">
                <h5>"Kadın T-Shirt" araması için 33006 sonuç listeleniyor</h5>
            </div>
            <div class="content-select">
                <div class="marka-search">
                    <p>Sıralama seçiniz</p>
                </div>
                <div class="search-box">
                    <ul class="category-list">
                        <li>
                            <a href="">Sıralama</a>
                        </li>
                        <li>
                            <a href="">bir</a>
                        </li>
                        <li>
                            <a href="">iki</a>
                        </li>
                        <li>
                            <a href="">uc</a>
                        </li>
                        <li>
                            <a href="">dord</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-item-list">
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
            {{> section/section-single-item/single-content-item}}
        </div>
        <div class="more">
            <a href="#">
                Daha fazla göster
            </a>
        </div>
    </div>
</section>