<section id="famous-brends">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="markalar">
                    <h2>Popüler Markalar</h2>
                    <ul class="markaList">
                        <li><a href="#">adidas</a></li>
                        <li> <a href="#">mavi</a></li>
                        <li><a href="#">derimod</a></li>
                        <li> <a href="#">lacoste</a></li>
                        <li><a href="#">avon</a></li>
                        <li> <a href="#">koton</a></li>
                        <li><a href="#">versace</a></li>
                        <li> <a href="#">bambi</a></li>
                        <li><a href="#">aksesuar</a></li>
                        <li> <a href="#">pierre cardien</a></li>
                        <li><a href="#">mango</a></li>
                        <li> <a href="#">şahinler</a></li>
                        <li><a href="#">defacto</a></li>
                        <li> <a href="#">ipekyol</a></li>
                        <li><a href="#">zara</a></li>
                        <li> <a href="#">hotiç</a></li>
                        <li><a href="#">inci</a></li>
                        <li> <a href="#">mudo</a></li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="categoris">
                    <h2>Popüler Kategoriler</h2>
                    <ul class="categoryList">
                        <li><a href="#">Bluz</a></li>
                        <li> <a href="#">Jean</a></li>
                        <li><a href="#">Hırka</a></li>
                        <li> <a href="#">Mont</a></li>
                        <li><a href="#">Elbise</a></li>
                        <li> <a href="#">Kazak</a></li>
                        <li><a href="#">Body</a></li>
                        <li> <a href="#">Tunik</a></li>
                        <li><a href="#">Gömlek</a></li>
                        <li> <a href="#">T-Shirt</a></li>
                        <li><a href="#">Tayt</a></li>
                        <li> <a href="#">Takımlar</a></li>
                        <li><a href="#">Sweatshirt</a></li>
                        <li> <a href="#">Tulum</a></li>
                        <li><a href="#">Etek</a></li>
                        <li> <a href="#">Kaban</a></li>
                        <li><a href="#">Ceket</a></li>
                        <li> <a href="#">Pantolon</a></li>
                        <li><a href="#">Kemer</a></li>
                        <li> <a href="#">Salopet</a></li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>