<div class="subnav-content">
    <div class="menu-wrapper">
        <div class="all-categoy">
            <h6>Giyim</h6>
            <ul>
                <li><a href="#">Elbise</a></li>
                <li><a href="#">T–shirt</a></li>
                <li><a href="#">Bluz & Tunik</a></li>
                <li><a href="#">Gömlek</a></li>
                <li><a href="#">Kazak & Hırka</a></li>
                <li><a href="#">Kaban & Mont</a></li>
                <li><a href="#">Ceket & Yelek</a></li>
                <li><a href="#">Sweatshirt</a></li>
                <li><a href="#">Pantolon</a></li>
                <li><a href="#">Jean</a></li>
                <li><a href="#">Büyük beden</a></li>
                <li><a href="#">Tesettür</a></li>
            </ul>
        </div>
        <div class="all-categoy">
            <h6>Ayakkabı</h6>
            <ul>
                <li><a href="#">Topuklu ayakkabı</a></li>
                <li><a href="#">Sneaker</a></li>
                <li><a href="#">Bot & Çizme</a></li>
                <li><a href="#">Günlük ayakkabı</a></li>
                <li><a href="#">Babet</a></li>
                <li><a href="#">Ev terliği & Botu</a></li>
            </ul>
            <h6>Aksesuar & Çanta</h6>
            <ul>
                <li><a href="#">Çanta</a></li>
                <li><a href="#">Güneş gözlüğü</a></li>
                <li><a href="#">Saat</a></li>
                <li><a href="#">Takı</a></li>
                <li><a href="#">Atkı & Bere & Eldiven</a></li>
            </ul>
        </div>
        <div class="all-categoy">
            <h6>İç giyim</h6>
            <ul>
                <li><a href="#">Pijama takımı</a></li>
                <li><a href="#">Sütyen</a></li>
                <li><a href="#">İç çamaşırı</a></li>
                <li><a href="#">Fantezi giyim</a></li>
                <li><a href="#">Gecelik</a></li>
                <li><a href="#">Çorap</a></li>
            </ul>
            <h6>Lüks & Designer</h6>
            <ul>
                <li><a href="#">Lüks çanta</a></li>
                <li><a href="#">Lüks giyim</a></li>
                <li><a href="#">Lüks ayakkabı</a></li>
                <li><a href="#">Tasarım giyim</a></li>
                <li><a href="#">Tasarım ayakkabı</a></li>
            </ul>
        </div>
        <div class="all-categoy">
            <h6>Kozmetik & Kişisel bakım</h6>
            <ul>
                <li><a href="#">Parfüm & Deodorant</a></li>
                <li><a href="#">Göz makyajı</a></li>
                <li><a href="#">Güneş ürünleri</a></li>
                <li><a href="#">Cilt bakımı</a></li>
                <li><a href="#">Ten makyajı</a></li>
                <li><a href="#">Dudak makyajı</a></li>
                <li><a href="#">Saç bakımı</a></li>
                <li><a href="#">Cinsel sağlık</a></li>
                <li><a href="#">Kadın hijyen</a></li>
                <li><a href="#">Tıraş & Ağda</a></li>
            </ul>
        </div>
        <div class="all-categoy">
            <h6>Spor & Outdoor</h6>
            <ul>
                <li><a href="#">Sweatshirt</a></li>
                <li><a href="#">T–shirt</a></li>
                <li><a href="#">Spor sütyeni</a></li>
                <li><a href="#">Tayt</a></li>
                <li><a href="#">Eşofman</a></li>
                <li><a href="#">Koşu ayakkabısı</a></li>
                <li><a href="#">Spor çantası</a></li>
                <li><a href="#">Spor ekipmanları</a></li>
                <li><a href="#">Outdoor ekipmanları</a></li>
                <li><a href="#">Outdoor ayakkabı</a></li>
                <li><a href="#">Sporcu besinleri</a></li>
                <li><a href="#">Kayak</a></li>
            </ul>
        </div>

    </div>
</div>