<div id="category">
    <div class="container">
        <div class="category-select">
            <a href="#">Anasayfa</a>
            <a href="#">Kadın </a>
            <a href="#">Giyim</a>
            <a href="#"> T–shirt </a>
        </div>

    </div>
</div>