<div class="content-item">
    <a href="">
        <div class="img-box">
            <img src="../assets/bitmap-copy-2.jpg" alt="">
        </div>
        <div class="item-info">
            <h5>Koton</h5>
            <p>Siyah San Francisco Baskılı Basic Örme T-shirt TWOSS19GS0052</p>
            <div class="price">
                <span class="discount">49,50 TL</span>
                <span>39,99 TL</span>
            </div>
        </div>
        <ul class="details">
            <li class="cargo">24 SATTE KARGODA</li>
            <li class="new-seazon">YENİ SEZON</li>
            <li class="free-cargo">KARGO BEDAVA</li>
            <li class="discount-detail">Sepette %25 İndirim</li>
            <li class="last-products">TÜKENMEK ÜZERE</li>
        </ul>
    </a>
    <div class="heart">
        <img class="white" src="../assets/heart-white.png" alt="">
        <img class="red" src="../assets/heart-red.png" alt="">
    </div>
</div>