#last-looked {
  background-color: #ffffff;
  .container-header {
    padding: 100px 0 15px 0;
    display: flex;
    justify-content: space-between;
    h4 {
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    a {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
  }
}
