#category {
  padding: 25px 0;
  display: flex;
  align-items: center;
  .category-select {
    display: flex;
    align-items: center;
    a {
      margin-right: 30px;
      display: flex;
      font-size: 16px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      position: relative;
   
      &::after{
        transform: rotate(45deg);
        content: "";
        position: absolute;
        right: -20px;
        top: 40%;
        border: 1px solid #bcbcbc;
        width: 8px;
      }
      &::before{
        transform: rotate(-45deg);
        content: "";
        position: absolute;
        right: -20px;
        top: 60%;
        border: 1px solid #bcbcbc;
        width: 8px;
      }
   
      &:last-child {
        font-weight: 500;
        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}
