<section id="section-search">
    <div class="container">
        <ul>
            <li>
                <button class="btn-search">Marka</button>
                <div class="search-box">
                    <ul class="category-list">
                        <li>
                            <a href="">Koton</a>
                        </li>
                        <li>
                            <a href="">Mango</a>
                        </li>
                        <li>
                            <a href="">Zara</a>
                        </li>
                        <li>
                            <a href="">LC Waikiki</a>
                        </li>
                        <li>
                            <a href="">Defacto</a>
                        </li>
                        <li>
                            <a href="">Nike</a>
                        </li>
                        <li>
                            <a href="">LC Waikiki</a>
                        </li>
                        <li>
                            <a href="">Defacto</a>
                        </li>
                        <li>
                            <a href="">Nike</a>
                        </li>
                        <li>
                            <a href="">LC Waikiki</a>
                        </li>
                        <li>
                            <a href="">Defacto</a>
                        </li>
                        <li>
                            <a href="">Nike</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="btn-search">Kategori <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7">
    <path fill="#0E86C8" d="M9 15.166L12.709 11.5 9 7.834 10.142 6.708 15 11.5 10.142 16.292z" transform="matrix(0 -1 -1 0 16.5 15.5)"/>
</svg>
</button>
                <div class="search-box">
                    <ul class="category-list">
                        <li>
                            <a href="">Women</a>
                        </li>
                        <li>
                            <a href="">Men</a>
                        </li>
                        <li>
                            <a href="">Kids</a>
                        </li>
                        <li>
                            <a href="">Blouse</a>
                        </li>
                        <li>
                            <a href="">Pants</a>
                        </li>
                        <li>
                            <a href="">Shoes</a>
                        </li>
                        <li>
                            <a href="">Bags</a>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                        </li>
                        <li>
                            <a href="">Skirts</a>
                        </li>
                        <li>
                            <a href="">Jacket</a>
                        </li>
                        <li>
                            <a href="">Short</a>
                        </li>
                        <li>
                            <a href="">T-shirt</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="btn-search">Fiyat</button>
                <div class="search-box">
                    <ul class="price-range">
                        <li>
                            <h6>Seçilmiş fiyat aralığı</h6>
                            <p><span>0</span> TL - <span>500</span> TL</p>
                        </li>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="btn-search">Beden</button>
                <div class="search-box">
                    <ul class="category-list">
                        <li>
                            <a href="">XXS</a>
                        </li>
                        <li>
                            <a href="">XS</a>
                        </li>
                        <li>
                            <a href="">S</a>
                        </li>
                        <li>
                            <a href="">M</a>
                        </li>
                        <li>
                            <a href="">L</a>
                        </li>
                        <li>
                            <a href="">XL</a>
                        </li>
                        <li>
                            <a href="">XXL</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="btn-search">Renk</button>
                <div class="search-box">
                    <ul class="colors">
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #6dd400"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #44d7b6"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #32c5ff"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #6236ff"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #b620e0"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #e75524"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #f9a21a"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #00b4a3"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #0e86c8"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #161616"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #f9a21a"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #00b4a3"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #0e86c8"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #161616"></button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>