<section id="section-search">
    <div class="container">
        <ul>
            <li>
                <div class="marka-search">
                    <p>Marka</p>
                </div>
                <div class="search-box">
                    <ul class="category-list">
                        <li>
                            <a href="">Koton</a>
                        </li>
                        <li>
                            <a href="">Mango</a>
                        </li>
                        <li>
                            <a href="">Zara</a>
                        </li>
                        <li>
                            <a href="">LC Waikiki</a>
                        </li>
                        <li>
                            <a href="">Defacto</a>
                        </li>
                        <li>
                            <a href="">Nike</a>
                        </li>
                        <li>
                            <a href="">LC Waikiki</a>
                        </li>
                        <li>
                            <a href="">Defacto</a>
                        </li>
                        <li>
                            <a href="">Nike</a>
                        </li>
                        <li>
                            <a href="">LC Waikiki</a>
                        </li>
                        <li>
                            <a href="">Defacto</a>
                        </li>
                        <li>
                            <a href="">Nike</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="marka-search">
                    <p>Kategori</p>

                </div>
                <div class="search-box">
                    <ul class="category-list">
                        <li>
                            <a href="">Women</a>
                        </li>
                        <li>
                            <a href="">Men</a>
                        </li>
                        <li>
                            <a href="">Kids</a>
                        </li>
                        <li>
                            <a href="">Blouse</a>
                        </li>
                        <li>
                            <a href="">Pants</a>
                        </li>
                        <li>
                            <a href="">Shoes</a>
                        </li>
                        <li>
                            <a href="">Bags</a>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                        </li>
                        <li>
                            <a href="">Skirts</a>
                        </li>
                        <li>
                            <a href="">Jacket</a>
                        </li>
                        <li>
                            <a href="">Short</a>
                        </li>
                        <li>
                            <a href="">T-shirt</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="marka-search">
                    <p>Fiyat</p>

                </div>
                <div class="search-box">
                    <ul class="price">
                        <li>
                            <h6>Seçilmiş fiyat aralığı</h6>
                            <p><span>0</span> TL - <span>500</span> TL</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="marka-search">
                    <p>Beden</p>

                </div>
                <div class="search-box">
                    <ul class="category-list">
                        <li>
                            <a href="">XXS</a>
                        </li>
                        <li>
                            <a href="">XS</a>
                        </li>
                        <li>
                            <a href="">S</a>
                        </li>
                        <li>
                            <a href="">M</a>
                        </li>
                        <li>
                            <a href="">L</a>
                        </li>
                        <li>
                            <a href="">XL</a>
                        </li>
                        <li>
                            <a href="">XXL</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="marka-search">
                    <p>Renk</p>
                </div>
                <div class="search-box">
                    <ul class="colors">
                        <li>
                            <button data-value="" class="btn-color" style="background-color:#6dd400"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #44d7b6"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #32c5ff"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #6236ff"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #b620e0"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #e75524"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #f9a21a"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #00b4a3"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #0e86c8"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #161616"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #6dd400"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #00b4a3"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color: #0e86c8"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color:#cad728"></button>
                        </li>
                        <li>
                            <button data-value="" class="btn-color" style="background-color:#f5f5f5"></button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>