<div class="content-item">
    <a href="">
        <div class="img-box">
            <img src="../assets/bitmap-copy-2.jpg" alt="">
        </div>
        <div class="item-info">
            <h5>Koton</h5>
            <p>Siyah San Francisco Baskılı Basic Örme T-shirt TWOSS19GS0052</p>
            <div class="price">
                <span class="discount">49,50 TL</span>
                <span>39,99 TL</span>
            </div>
        </div>
        {{!-- <ul class="product-labels">
            <li class="cargo">24 SATTE KARGODA</li>
            <li class="new-collection">YENİ SEZON</li>
            <li class="free-delivery">KARGO BEDAVA</li>
            <li class="sale">Sepette %25 İndirim</li>
            <li class="last-items">TÜKENMEK ÜZERE</li>
        </ul>
    </a>
    <div class="btn-like">
        <img class="dislike" src="../assets/heart black.svg" alt="">
        <img class="like" src="../assets/heart red.svg" alt="">
    </div> --}}
</div>